services:
  # PostgreSQL Database
  postgres:
   image: postgres:15-alpine
   container_name: postgres
   restart: unless-stopped
   environment:
     POSTGRES_DB: backend_db
     POSTGRES_USER: postgres
     POSTGRES_PASSWORD: password
   ports:
     - "5432:5432"
   volumes:
     - ./data/postgres_data:/var/lib/postgresql/data
     #     - ./backend/init.sql:/docker-entrypoint-initdb.d/init.sql
   healthcheck:
     test: ["CMD-SHELL", "pg_isready -U postgres -d backend_db"]
     interval: 10s
     timeout: 5s
     retries: 5

  pgadmin:
    restart: always
    container_name: pgadmin
    image: dpage/pgadmin4:9.9.0
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin@email.com
      PGADMIN_DEFAULT_PASSWORD: pgadmin
      MAX_LOGIN_ATTEMPTS: 5
    volumes:
      - ./data/pgdata:/var/lib/postgresql/data/pgdata
    ports:
      - "28080:80"

  backend:
    build: .
    container_name: backend
    restart: unless-stopped
    ports:
      - "8083:8000"
    volumes:
      - ./:/app

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: unless-stopped
    ports:
      - "80:80"
    environment:
      - VITE_API_URL=http://backend:8083
    volumes:
      - ../frontend:/app
    depends_on:
      - backend
    stdin_open: true
    tty: true
